

.offer {
    margin-top: 100px;
    min-height: 500px;
    background-color: #eee;
    padding: 3%;

    &__title {
        text-align: center;
        margin: 50px; 
    }

    .wrapper {
        @include cardsLayout;
    }

    &__food {
        &_title {
            color: $mainDark;
        }
    }

    &__card {
        // display: flex;
        position: relative;
        cursor: pointer;
        background: url('../images/spinner.svg') center no-repeat;
        overflow: hidden;

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom: -4px;
        }

        &_active {
            transform: translateY(-100%);
        }

        &_text{
            user-select: none;
        }

        &_wrapper {
            transition: all 0.5s;
            height: 100%;
            position: relative;
        }

        &_button {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            transition: all .3s;
            &:hover {
                transform: scale(1.1) translateX(-50%);
            }
        }

        &_descr {
            padding: 15px;
            height: 100%;
            width: 100%;
            background-color: green;
            color: $mainLight;
            position: relative;

            h3 {
                margin: 0;
                padding: 15px 0;
                text-align: center;
                text-transform: uppercase;
            }
        }
        &:hover {
            transform: translate3d(-5px, -5px, -5px);
        }
    }

}

