.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $mainDark;
    width: 100%;
    min-height: 100%;
    color: $mainLight;
    user-select: none;
    &__active {
        height: 100vh;
        overflow-y: hidden;
    }
    &__wrapper {
        position: relative;
        padding: 2%;
        margin: 200px auto;
        background-color: rgba(75, 37, 37, 0.950);
        border-radius: 10px;
        min-height: 50vh;
        max-width: 50vh;
    }
    &__close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
    &__operations {
        display: flex;
        justify-content: space-between;
        width: 160px;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        margin-top: 0;
    }
    &__list {
        list-style: none;
        padding: 0;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        padding-bottom: 12px;

        &_amount {
            width: 30px;
            text-align: center;
        }

        &_action {
            color: #fff;
            line-height: initial;
            cursor: pointer;
            
            &:nth-child(1) {
                @include popupOperator;
            }

            &:nth-child(3) {
                @include popupOperator;
            }
            &:nth-child(4) {
                margin-left: 20px;
            }
            &_disabled {
                cursor: default;
            }
        }
        &_disabled {
            display: none;
        }
    }
    &__textarea {
        padding: 2%;
        width: 100%;
        resize: none;
        background-color: #eee;
        border-radius: inherit;
    }
    &__message {
        position: fixed;
        padding: 5px;
        width: 150px;
        top: 40px;
        right: 20px;
        color: $mainLight;
        background-color: $mainColor;
        border-radius: 5px;
        cursor: pointer;
        &:before {
            content: ""; 
            border: solid transparent;
            position: absolute;    
            right: 8px;    
            bottom: 100%;
            border-bottom-color: $mainColor;
            border-width: 9px;
            margin-left: 0;
        }
    }
}

