.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $mainDark;
    width: 100%;
    min-height: 100%;
    color: $mainLight;
    user-select: none;
    &__active {
        height: 100vh;
        overflow-y: hidden;
    }
    &__wrapper {
        position: relative;
        padding: 2%;
        margin: 200px auto;
        background-color: rgba(75, 37, 37, 0.950);
        border-radius: 10px;
        height: 50vh;
        width: 50vmax;
    }
    &__close{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
    &__operations {
        display: flex;
        justify-content: space-between;
        width: 160px;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        margin-top: 0;
    }
    &__list {
        list-style: none;
        padding: 0;
    }
    &__item {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        &_amount {
            width: 30px;
            text-align: center;
        }
        &_action {
            color: #fff;
        }
    }
}

