@mixin divider {
    margin: 0 auto;
    width: 40vw;
    height: 1px;
    border: 1px solid $mainDark;
    border-radius: 50%;
}

@mixin cardsLayout {
    display: grid; 
    grid-template-columns: 100px repeat(4, minmax(150px, 215px));
    grid-auto-rows: 320px;
    gap: 20px;
}